* {
    font-family: 'Poppins',sans-serif;
    margin:0;
    padding: 0;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #fff;
}

nav ul {
    float: right;
    margin-right: 50px;
}

nav ul li {
    float: right;
    list-style: none;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #725636;
    padding: 10px 60px;
    font-weight: 800;
}


nav ul li ul {
    display: none;
}

nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    padding: 10px;
}


nav ul li ul li a {
    padding: 8px 10px;

}

nav ul li ul li a:hover {
    background-color:#DFDCDA;
}


.bg1 {
    background-color: #DFDCDA;  
    height: 90vh;
    position: relative;
}

.bg2 {
    background-color: #DFDCDA;  
    height: 100vh;
    position: relative;
}


.intro h1 {
    display: flex;
    color:#725636;
}

.intro h3{
  color:#725636;
  font-weight: 70;  
}

p {
    color: #686868;
}

.intro {
    max-width: 600px;
    margin-left: 15%;
    margin-top: 10%;
}
.cat {
    max-width: 500px;
    margin-left: 60%;
    margin-top:-23%;
}

.cat img {
    height: 500px;
    position: absolute;
}

.fade-in {
    color: white;
    animation: fadeIn 3s;
}

.fade-in span{
    padding: 3px 7px;
    background-color: #d7c6b2;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.text {
    height: 20px;
    position: relative;
}

.text h1 {
    margin-top:2%;
    margin-left: 15%;
    display: flex;
    color:#725636;
    font-size: 45px;
}

.video {
    margin-left: 50%;
}

.footer {
    margin-top: 2%;
    background-color: #f8f7f7;
    height: 30px;
    text-align: center;
}

.poem {
    margin-top: -5%;
    margin-left: 40%;
    white-space: pre-line;
}